* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9e8ee; /* Rosa pastel clarinho */
    color: #333;
}

header {
    background-color: #f1a7b3; /* Rosa pastel */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #f1a7b3; /* Rosa pastel para o submenu */
    padding: 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
}

main {
    padding: 20px;
}

h2, h3 {
    color: #d16d87; /* Um rosa pastel um pouco mais escuro para títulos */
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

footer {
    background-color: #f1a7b3; /* Rosa pastel para o rodapé */
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
